<html>
  <head>
    <title> bookStore </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="flex">
       <a class="" href="/"><h1 class="home">BookStore</h1></a>
       <a class="btn" href="/api/v1/books">Back</a>
      </div>
   </header>
      <div class="container1 ">
        <form action="/api/user/register" method="POST" class="top-50 form" >
            <h1 class="form-heading textalign f-weight">Register</h1>
            <input class="formInput" type="text" name="name" placeholder="Enter name">
            <input class="formInput" type="email" name="email" placeholder="Enter email">
            <input class="formInput" type="password" name="password" placeholder="Enter password">
            
            <div class="textalign">
                <input class="btn" type="submit" value="Register">
            </div>
        </form>
      </div>
  </body>
</html>